

    <select (change)="fetchTeacher($event.target.value)">
    <option value=0>TEACHERS<option>
      <option *ngFor ="let t of teachers" value="{{t.Teacher_Id}}" >
        {{t.First_Name}}
      </option>
   </select>

    <select (change)="fetchClass($event.target.value)">
    <option value=0>Class<option>
      <option *ngFor ="let c of S" value="{{c}}" >
        {{c}}
      </option>
   </select>

  <form #f = "ngForm" (ngSubmit) = "onClickSubmit(f.value)" >
     <input type = "submit" value = "submit">

  </form>
<!--<button  type="submit" click="Submit.click()" value="Submit">Submit</button>

    <button (click)="myEvent($event)">Submit</button>
<p>hii</p>

<ul>
  <li *ngFor= "let stu in Students">{{stu.stid}}</li>
</ul>-->
<button ng-click="Student()">Submit</button>
<button type="button" label="Click"(click)="display('Student')"></button>
  <table style="">
<thead>

      <th>Student ID</th>
        <!-- <th>Student Name</th>
     <th>Admission No</th>
      <th>Last Name</th>
      <th>Mother Name</th>
      <th>Father Name</th>
      <th>Phone Number</th>
      <th>Mail Id</th>
      <th>Class</th>
    <th>Blood Group</th>
    <th>Address</th>-->
</thead>
<tbody>
  <ul>
    <li *ngFor="let st of stu">
                       <td>{{st.studentid}}</td>
  </li>
  </ul>
